[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/css-color"]
	path = vim/bundle/css-color
	url = https://github.com/skammer/vim-css-color
[submodule "vim/bundle/BufOnly"]
	path = vim/bundle/BufOnly
	url = https://github.com/duff/vim-bufonly.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/vim-snippets"]
	path = vim/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = git@github.com:tpope/vim-speeddating.git
[submodule "vim/bundle/project-tar-gz"]
	path = vim/bundle/project-tar-gz
	url = git@github.com:vim-scripts/project.tar.gz.git
[submodule "vim/bundle/rainbow_parentheses"]
	path = vim/bundle/rainbow_parentheses
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-clojure-highlight"]
	path = vim/bundle/vim-clojure-highlight
	url = git@github.com:guns/vim-clojure-highlight.git
[submodule "vim/bundle/vim-jdaddy"]
	path = vim/bundle/vim-jdaddy
	url = git@github.com:tpope/vim-jdaddy.git
[submodule "vim/bundle/vim-easytags"]
	path = vim/bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "vim/bundle/vim-autoclose"]
	path = vim/bundle/vim-autoclose
	url = git@github.com:Townk/vim-autoclose.git
[submodule "vim/bundle/vim-buffergator"]
	path = vim/bundle/vim-buffergator
	url = git@github.com:jeetsukumaran/vim-buffergator.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-eunuch"]
	path = vim/bundle/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "vim/dict/node-dict"]
	path = vim/dict/node-dict
	url = git@github.com:guileen/vim-node-dict.git
[submodule "vim/bundle/dustjs"]
	path = vim/bundle/dustjs
	url = git@github.com:jimmyhchan/dustjs.vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
