#!/bin/sh
cd "$HOME"

for x in `find $HOME/bin/confs -type f ` ; do
  ln -sf $x ~/.`basename $x`;
done

if [ -h ~/.vim ]
then
    echo ".vim is a symlink, moving along...";
elif [ -d ~/.vim ]
then
    echo ".vim is a dir, moving it to ~/vim-old";
    mv ~/.vim ~/vim-old
    ln -sf bin/vim .vim
else
    ln -sf bin/vim .vim
fi
