#!/bin/sh
cd ~;
os=`uname`;

case $os in
	Darwin)
	    echo "Darwin it is...";
	    ln -sf bin/confs/darwin.zshrc .zshrc
	    ;;
	FreeBSD)
	    echo "FreeBSD it is...";
	    ln -sf bin/confs/bsd.zshrc .zshrc
	    ;;
	Linux)
	    echo "Linux it is...";
	    ln -sf bin/confs/linux.zshrc .zshrc
	    ;;
esac

ln -sf bin/confs/linux.zlogout .zlogout
ln -sf bin/confs/linux.vimrc .vimrc
ln -sf bin/confs/linux.emacs .emacs
ln -sf bin/confs/linux.screenrc .screenrc
ln -sf bin/confs/linux.dir_colors .dir_colors

ln -sf bin/confs/gitconfig .gitconfig

if [ -h ~/.vim ]
then
	echo "is a sym";
elif [ -d ~/.vim ]
then
	echo "is a dir";
	echo "removing..."
	rm -rf ~/.vim
fi

ln -sf bin/vim .vim
ln -sf ~/bin/confs/linux.filetype.vim .vim/filetype.vim
