#!/bin/sh
cd "$HOME"

for x in `find $HOME/bin/confs -type f ` ; do
  ln -sf $x ~/.`basename $x`;
done

mkdir -p .lein
ln -sf ~/bin/confs/lein_profiles.clj .lein/profiles.clj

if [ -h ~/.vim ]
then
    echo ".vim is a symlink, moving along...";
elif [ -d ~/.vim ]
then
    echo ".vim is a dir, moving it to ~/vim-old";
    mv ~/.vim ~/vim-old
    ln -sf bin/vim .vim
else
    ln -sf bin/vim .vim
fi

git clone https://github.com/VundleVim/Vundle.vim.git ~/.vim/bundle/Vundle.vim
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm


