snippet note
	{{{ #${1:keyword}
	${2:quotation,paraphrase,summary}
	${3:citation}
	${4:text}
	support:
	sdb:
	date: `system("date +%Y-%m-%d")`
	}}}


snippet book
	${1:Surname}, ${2:First}. (${3:Year}). _${4:Title}_. ${5:City}.

snippet article
	${1:Surname}, ${2:First}. (${3:Year}). _${4:Title}_. ${5:City}.
snippet args
	if [ $# -lt ${1:NumberOfArgs} ] ; then
		echo "usage: $0 argument1"; exit 1;
	else
		echo "hi."
	fi
snippet varset
	if [[ ${MYVAR-x} != x ]] ; then
		echo 'hi'
	fi
